<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accelerometer Data Sender</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="accelerometer-data">
      <h1>Accelerometer Data</h1>
      <button id="start-button">Start Sending Data</button>
      <p>X: <span id="x"></span></p>
      <p>Y: <span id="y"></span></p>
      <p>Z: <span id="z"></span></p>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="{{ url_for('static', filename='js/app.js') }}"></script>
  </body>
</html>
